#time-section {
  .build-time {
    @include flexbox();
    @include flex-direction(column);
    h1 {
      color: $title-primary;
      @include responsive-font-size (
        $min-font-size: 1.8em,
        $max-font-size: 3.7em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.3em /* optional, default: 0.1em */
      );
      @include flex(0 1 auto);
      @include order(1);
      @include align-self(center);    
    }
    
    h2 {
      color: $paragraph-primary;
      @include responsive-font-size (
        $min-font-size: 1em,
        $max-font-size: 1.8em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.3em /* optional, default: 0.1em */
      );
      @include flex(0 1 auto);
      @include order(1);
      @include align-self(center);
    }
  } 
}