@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
@import './_variables.scss';
@import './_flexbox.scss';

body{
    font-family: 'Racing Sans One', cursive;
    background-color: $body-primary;
    font-size: 12px;
}

.container {
    @include flexbox();
    @include flex-direction(column);
    @include min-screen(1600px) {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    @include min-screen(768px) {
        width: 768px;
        margin-left: auto;
        margin-right: auto;    
    }
    @include max-screen(767px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
   .section-item {
        @include flex(0 1 auto);
        @include order(1);
        @include align-self(center);
        margin-bottom: 20px;
        margin-top: 60px;
   }
}